pbProject/__pycache__
PsychicBits/__pycache__
users/__pycache__
API/__pycache__
userPrediction/__pycache__
PsychicBits/migrations/__pycache__
users/migrations/__pycache__
API/migrations/__pycache__
userPrediction/migrations/__pycache__
.idea/