<!DOCTYPE html>
<html>
{% load static %}

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
  <link rel="stylesheet"  href="css/stylesheet.min.css">
  <link rel="stylesheet"  href="css/bootstrap.min.css">
   
   <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
  <!--<link href="css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="css/jcarousel.css" rel="stylesheet" />
  <link href="css/flexslider.css" rel="stylesheet" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/scss/all.scss' %}" rel="stylesheet"> <!--load all styles -->
   <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/scss/all.scss' %}" rel="stylesheet"> <!--load all styles -->
    <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/js/all.js' %}" rel="stylesheet"> <!--load all styles -->
    <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/js/all.js' %}" rel="stylesheet"> <!--load all styles -->
    <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/js/all.js' %}" rel="stylesheet"> <!--load all styles -->

  <link rel="stylesheet"  href="{% static 'psychicbits/css/all.css' %}">
  <link id="bodybg" href="{% static 'psychicbits/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
<style>
#myInput {
    

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 25px;
  padding: 12px 20px 12px 40px;
  border: 3px solid #07335f;
  margin-bottom: 12px;
  margin-left: 30%;
}
body{ 
      background-image: url("{% static 'psychicbits/4.jpg'%}");
      background-size: 100% 100%;
      background-position: fixed fill;
      background-attachment: fixed;
      background-repeat:repeat;
    
}

::placeholder {
  color: #07333f;
  opacity: 1; /* Firefox */
}

</style>
</head>

<body>
    <nav  class="navbar navbar-inverse navbar-top " id="nav1" role="navigation" style="margin-top: 0px;"> <!-- start of nav 1-->
    <div class="container-fluid " ><!-- start of cont 1 for lg block-->
      <div class="row"> 
        
    {% if user.is_authenticated %}
      <div class="col-lg-12 col-xs-12 col-lg-push-0 "><!-- start of title -->
          <div class="w3-animate-fading">
            <h1 style='margin-top: 0px; font-size: 30px;letter-spacing: 7px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'>Psychic Bits</h1>
          </div>
        </div>
    {% else %}
      <div class="col-lg-7 col-xs-6 col-xs-push-0 col-lg-push-0 "><!-- start of title -->
          <div class="w3-animate-fading">
            <h1 style='margin-top: 0px; font-size: 20px;letter-spacing: 5px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'>Psychic Bits</h1>
          </div>
        </div>
      <div class="col-lg-1 col-lg-push-0 col-sm-3 col-xs-2 col-sm-push-0 col-md-push-2"style="margin-left:10px; "> <!-- start of signup of lg con-->
            <button type="button" class="btn btn-link btn-lg w3-animate-fading" data-toggle="modal" data-target="#myModel"style='margin-top: 0px; font-size: 20px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;' ><a href="/psychicbits/mainhome#myModel" LINK="red"><i class="fas fa-user-plus"></i> Sign Up</a></button>
          </div>            <!-- end of signin of lg con-->
          <div class="col-lg-1 col-lg-push-2 col-sm-3 col-xs-2 col-sm-push-1 col-md-push-4" style="margin-left:0px;">           <!-- start of signin of lg con-->
              <button type="button" class="btn btn-link btn-lg w3-animate-fading" data-toggle="modal" data-target="#mySignin" style='margin-top: 0px; font-size: 20px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'><a href="/psychicbits/mainhome#mySignin"><i class="fas fa-sign-in-alt"></i> Sign iN</a></button>
          </div>  <!--end of signin of lg con-->
    {% endif %}
  </div></div>
  </nav>
    <div class="col-xs-12 " style="padding-left: 0px;">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Team.." title="Type in a name">
    </div>
  <table  id="t01"class="table table-dark table-hover" style="background-color:#07333f;width: 80%; margin-left:10%; ">
    <tr style="font-size: 20px;  font-family:'Comic Sans MS', cursive, serif;">
        <th>Time </th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Results</th>
        <th>Prediction</th>
    </tr>
{% for match in matches_list %}

<tr style="font-size: 18px;" >
    {% if "fun2() >= {{match.date}}"  %}
        <td ><a href="/psychicbits/match{{match.id}}"> {{match.date}} </a></td>
        <td>{{match.HT}}</td>
        <td>{{match.AT}}</td>

        {% if match.FTR %}
        <td>{{match.FTR}}</td>

        {% else %}
        <td>not Played yet</td>
        {% endif %}

        {% if match.pred %}
        <td>{{match.pred}}</td>
        {% else %}
        <td>Soon</td>
        {% endif %}
    {% endif %}
</tr>



{% endfor %}
</table>
</div>

	

	<div class="navbar navbar-inverse navbar-fixed-bottom" style="height: 15px;"> <!-- start of footer-->
    <div class="container-fluid"> 
      <div class="row" style="width: 100%;">
          <div class="navbar-text col-lg-4 col-sm-5  col-xs-6 ">
            <p> copyright psychicbits 2020</p>
          </div>
          <div class="col-lg-6 col-lg-push-2 col-xs-6 " >
            <div class="navbar-text pull-right">
              <a href="#"><i class="fab fa-facebook-square" style="color: white;font-size: 28px; "></i> </a>
              <a href="#"><i class="fab fa-twitter-square" style="color: white;font-size: 28px;"></i></a>
              <a href="#"><i class="fab fa-google-plus-square" style="color: white;font-size:28px;"></i></a>
              <a href="#"><i class="fab fa-instagram-square" style="color: white;font-size: 28px;"></i></a>
            </div>
          </div>
      
      </div>
    </div>
  </div> <!-- end of footer-->
  

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("t01");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
  
<script>
  function fun2(){
    var date1;
         date1 = new Date();
         //document.write(date1);
         //date2 = new Date( {{match.date}} );
         //document.write("<br>"+date2);
        // date1 = new Date( "3/11/2017" );
         //if (date1 > date2.getTime()) {
         // return 1 ;
           // document.write("<br>Date1 is *****************************************************************************the recent date.");
         //} else { return 0;
           // document.write("<br>Date 2 is the recent date.");
        // }
        return date1;
  }
         
      </script>
</body>

</html>
