<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <title>Psychic Bits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
  <link rel="stylesheet"  href="css/stylesheet.min.css">
  <link rel="stylesheet"  href="css/bootstrap.min.css">
   
   <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
  <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/scss/all.scss' %}" rel="stylesheet"> <!--load all styles -->
   
    <link href="{% static 'psychicbits/fontawesome-free-5.13.0-web/js/all.js' %}" rel="stylesheet"> <!--load all styles -->
    

  <link rel="stylesheet"  href="{% static 'psychicbits/css/all.css' %}">
  <link id="bodybg" href="{% static 'psychicbits/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
   .model:: form:input[type=text],{
  display:center block;
  border: 1px solid gray;
  border-radius: 14px;
  box-sizing: border-box;
  font-style:oblique;
  font-family:cursive; 
  color: #ab1a1a;

}
input[type=submit] {
  
  display:center block;
  border-radius: 14px;
  cursor: pointer;
  font-style:oblique;
}
.sidebar {
  height: 60%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 236px;
  left: 0;
  background-color: #222 ;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 8px 6px 6px 14px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
  display: block;
}

.w3-sidebar:: a:hover {
  color: gray;
   background-color: #ddd;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 10px 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 20px;}
  .sidebar a {font-size: 18px;}
}
.navbar-collapse{
  color: lightgray;

}
#d1{color: darkgray;}
.dropdown-hover .dropdown-content {
  display: block; 
}
#d1-content a:hover {
  background-color: #ddd;}
  @keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
h3::first-letter{
  font-size: 200%;
  color: black;}
  .dropdown:hover .dropdown-menu {
    color: darkgray;
  display: block;
}
.h1{
  letter-spacing: -10px; 
}
.collapse dropdown-menu:hover{ color: darkgray;display: block;  background-color: #ddd;}

  .modal-header{
      background-color: black;
      color: white;
      height: 50%;
      background-image: url("{% static 'psychicbits/10.jpg' %}"); 
      font-size: 90px;
    }
    #myModal ,#mySignin ,#myReset{
     background-image: url("{% static 'psychicbits/11.jpg' %}"); 
      background-position: fill;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;  
    }
    form{
                width: 100%;
               height: 100%;
               background-color: white;
    }
    .modal-footer{
            background-image: url("{% static 'psychicbits/10.jpg' %}");
             width: 100%;
          
    }
    body{
      background-image: url("{% static 'psychicbits/17.jpg'%}");
      background-size: 100% 100%;
      background-position: fixed fill;
      background-attachment: fixed;
      background-repeat:repeat;
    }
::placeholder {
  color: #07333f;
  opacity: 1; /* Firefox */
}
  </style> 
</head>
<body>
  
  <nav  class="navbar navbar-inverse navbar-top " id="nav1" role="navigation" style="margin-top: 25px;"> <!-- start of nav 1-->
    <div class="container-fluid hidden-xs" ><!-- start of cont 1 for lg block-->
      <div class="row"> 
        <div class="col-lg-5 col-lg-push-0 visible-lg-block"><!-- start of title -->
          <div class="w3-animate-fading">
            <h1 style='margin-top: 0px; font-size: 50px;letter-spacing: 7px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'>Psychic bits</h1>
          </div>
        </div>
        <div class="col-sm-2 col-sm-push-0 hidden-lg "><!-- start of title -->
          <div class="w3-animate-fading">
            <h1 style='margin-top: 0px; font-size: 30px;letter-spacing: -2px; color: darkgray;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'>Psychic bits</h1>
          </div>
        </div>
        
        <div class="dropdown col-sm-1 "> <!-- start of dropdown 10 users 1-->        
                 <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: darkgray; font-weight: bold;font-size:19px;margin-right: 7px;">
                  Top 10 Users <i class="fas fa-trophy"></i> 
                 </button>
                 <ul class="dropdown-menu" role ="menu" style="color: white;background-color: darkgray; font-size: 20px;">
                  <li><a class="dropdown-item-text " href="#">{{names.0}} : {{scores.0}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.1}} : {{scores.1}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.2}} : {{scores.2}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.3}} : {{scores.3}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.4}} : {{scores.4}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.5}} : {{scores.5}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.6}} : {{scores.6}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.7}} : {{scores.7}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.8}} : {{scores.8}}</a></li>
                  <li><a class="dropdown-item-text " href="#">{{names.9}} : {{scores.9}}</a></li>

                 </ul>
                </div> <!-- end of dropdown 10 users 1-->
                <div class="dropdown col-lg-1  col-sm-2 col-sm-push-2 col-md-push-1" style="margin-right:5px;"> <!-- start of dropdown 10 users 1-->        
                         <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="color: darkgray; font-weight: bold;font-size:19px;">Matches<i class="fas fa-futbol"></i>
                         </button>
                         <ul class="dropdown-menu" role ="menu" style="color: white;background-color: darkgray; font-size: 20px;">
                             <li><a class="dropdown-item-text"href="/psychicbits/results"><b>Next Matches</b></a></li>
                         </ul>
                        </div> <!-- end of dropdown 10 users 1-->
                        
  {% if user.is_authenticated %}
        <!--<div class="col-lg-1 col-lg-push-1 col-sm-push-2 col-sm-1" style=" font-size: 17px;">
           <button type="button" class="btn btn-link btn-lg " style="margin-right:21px; "><a href="psychicbits/mainhome"></a><i class="fa fa-fw fa-home"></i><b>Home</b></button>
        </div>-->
        <div class="col-sm-2 col-lg-push-1 col-sm-push-1 col-md-push-2" style="margin-left:10px;">
          <button type="button" class="btn btn-link btn-lg active"><a href="/users/{{user.username}}"style="color:darkgray;"><i class="fa fa-fw fa-user"></i><b> {{user.username}} Profile</a></b></button>  
        </div>
         <div class="col-sm-1 col-lg-push-1 col-md-push-3 col-sm-push-2"style="margin-left:90px;">
              <button type="button" class="btn btn-link btn-lg" ><i class="fas fa-sign-out-alt"></i><a href='/users/logout' style="color: darkgray;">Log Out</a></button>
        </div>
      </div>
  {% else %} 
        <!--  <div class="col-lg-1 col-lg-push-2 col-sm-push-3 col-sm-1 " style=" font-size: 16px;">
           <button type="button" class="btn btn-link btn-lg " style="margin-right:23px; "><a href="psychicbits/mainhome"></a><i class="fa fa-fw fa-home"></i><b>Home</b></button>
        </div>       -->
          <div class="col-lg-1 col-lg-push-2 col-sm-2 col-sm-push-3 col-md-push-4"style="margin-left:10px; "> <!-- start of signup of lg con-->
            <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal" > <i class="fas fa-user-plus"></i> Sign Up</button>
          </div>            <!-- end of signin of lg con-->
          <div class="col-lg-1 col-lg-push-3 col-sm-2 col-sm-push-3 col-md-push-5" style="margin-left:0px;">           <!-- start of signin of lg con-->
              <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#mySignin" ><i class="fas fa-sign-in-alt"></i> Sign iN</button>
          </div>  <!--end of signin of lg con-->
  {% endif %}
    </div>  <!-- end of row 1 in cont 1-->
      </div><!-- end of cont 1 for lg block-->
      
<!--*************************************************************************** -->
<!--***************************************************************************** -->
    <div id="xs" class="container-fluid visible-xs-block" > <!-- start of cont xs -->
      <div class="row "><!-- start of row  -->
          <div class="col-xs-6 col-xs-push-0 "><!-- start of title -->
            <div class="w3-animate-fading">
              <h1 style='margin-top: 0px; font-size: 25px;letter-spacing: 3px; color: white;font-family:"Comic Sans MS", cursive, serif; font-weight: bold;'>Psychic bits
                 </h1>
            </div>
            </div><!-- end of title -->
            <div class="navbar col-xs-4 col-xs-push-1"> <!-- start button 2 of collapse in con 2 xs -->
              
              <button class="navbar-toggle " type="button" data-toggle="collapse" data-target="#sidbar" aria-controls="sidbar" aria-expanded="true" aria-label="Toggle navigation">
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
              </button><!-- end button 2 of collapse in con 2 xs -->
              <div class="collapse navbar-collapse "  id="sidbar"> <!-- ***-->
                <ul class="navbar-nav ">
                  <li class="nav-item dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" ><b>Top 10 Users</b><i class="fas fa-trophy"style="font-size: 20px; color:darkgray ;"></i>
                    </button>
                    <div class="dropdown-menu w3-hoverable" style="color: darkgray;background-color: darkgray;">
                      <a class="dropdown-item-text"href="#">Just Text 10</a>
                    </div>
                  </li><br>
                  <li>
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" ><i class="fas fa-futbol" style="font-size: 20px; color:darkgray ;"></i><b>Results</b>
                    </button>
                    <div class="dropdown-menu" style="color: black;background-color: darkgray; font-size:8px;width: 15px">
                      <a class="dropdown-item-text"href="#"><h5>Pre Matches</h5></a>
                      <a class="dropdown-item-text" href="/psychicbits/results"><h5> Next Matches</h5></a>
                    </div><!-- end of dropdown results 1-->
                  </li>

      {% if user.is_authenticated %}
            
                  <li><a href="/users/profile"><i class="fa fa-fw fa-user"></i>{{user.username}}Profile</a></li>
                  <li>
                    <div class="col-xs-2 col-lg-push-1">
                      <button type="button" class="btn btn-link btn-lg" ><i class="fas fa-sign-out-alt"></i><a href='/users/logout' style="color: darkgray;">Log Out</a></button>
                    </div>
                  </li>
      {% else %} 
                  <li class="nav-item">
                    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal" > <i class="fas fa-user-plus"></i><a href="#mySignup"></a> Sign Up</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#mySignin" ><i class="fas fa-sign-in-alt"><a href="#mySignup"></a> Sign iN</i> </button> 
                  </li>          
                  
      {% endif %}          
                </ul>
              </div><!-- end button 2 of collapse in con 2 xs -->
            </div>
          </div>
        </div><!-- end of cont xs -->
              

    <!--*************************************************************************** -->
<!--***************************************************************************** -->
  
<!--***************************************************************************** -->
<!--***************************************************************************** -->
    <div class="modal fade" id="myModal" role="dialog"> <!--Sign Up Modal -->
      <div class="modal-dialog">
        <div class="modal-content"><!-- Sign Up content-->
          <div class="modal-header ">
            <h3 class="modal-title col-xs-7 col-sm-push-0">Sign Up Form</h3>
              <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close" style="color:black;background-color: white; font-size:35px;"></i></button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action ="/users/register/" method="post" style="font-family: 'Comic Sans MS', cursive,serif;">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-sm-4 col-xs-5" for="username">Name</label>
                <input type="text" id="username" required name="username" placeholder="Name.." maxlength=30 class="control-group" style=" border-radius: 7px;font-style:oblique;" >
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4 col-xs-5" for="email" style="font-family: 'Comic Sans MS', cursive,serif;">Email</label>
                <input type="email"  id="email" name="email" maxlength=254 class="control-group"placeholder="Email" style=" border-radius: 7px;font-style:oblique;" required>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-4 col-xs-5" for="password1">Password</label>
                <input type="password" id="password1" name="password1" pattern="[A-Za-z(0-9)+]{8}" title="min 8 mix of letters & numbers" minlength="8"  placeholder="Password.." class="control-group"style=" border-radius: 7px;font-style:oblique;"  required>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4 col-xs-5" for="password2">Confirm Password</label>
                <input type="password" id="password2" minlength="5" name="password2" pattern="[A-Za-z(0-9)+]{8}" title="min 5 mix of letters & numbers" placeholder="Password.." class="control-group"style=" border-radius: 7px;font-style:oblique;"  required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-danger col-xs-2 col-sm-push-4 col-xs-push-6" value="submit"></input> <br><br>
                  <h4 class="aligncenter margintop20 col-sm-6 col-sm-push-1">Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
                  </h4>
              </div>
            </form>
          </div>
          <div class="modal-footer"><!-- start of footer-->
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          </div><!-- end of footer-->
        </div><!-- end of Sign Up content-->
      </div>
    </div><!-- end of sign up model-->
<!--***************************************************************************** -->
<!--***************************************************************************** -->
    <div class="modal fade" id="mySignin" role="dialog"><!-- start Sign in Modal -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><!-- start Modal header -->
            <h3 class="modal-title col-xs-7 col-sm-push-0">Sign in Form</h3>
            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close" style="color:black;background-color: white; font-size:30px;"></i></button>
          </div><!-- end Modal header -->
          <div class="modal-body"><!-- start Modal body -->

            <form class="form-horizontal" action="/users/login/" method="post" style="font-family: 'Comic Sans MS', cursive,serif;">
              {% csrf_token %}
              <div class="form-group ">
                <label class="control-label col-xs-3 " for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username.." class="control-group "style=" border-radius: 7px;font-style:oblique;"required>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3" for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password.." class="control-group "style=" border-radius: 7px;font-style:oblique;"required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-danger col-xs-2 col-xs-push-3"></input>
                 
              </div>
            </form>
          </div><!-- end Modal body -->
          <div class="modal-footer"> <!-- start Modal footer -->
            <input type="button" value="close" class="btn btn-light" data-dismiss="modal">Close</input>
          </div><!-- end Modal footer -->
        </div>
      </div>  
    </div><!-- end signin modal -->
<!--*************************************************************************** -->
  </nav><!-- end of nav 1--> 

   <!--============================================================= -->
   {% if user.is_authenticated %}
      <div id="xs" class="col-xs-12 col-xs-push-0 visible-xs-block" style=" margin-top: 100px;background-color: black; ">
        <div class="col-xs-8 col-xs-push-2">
          <a class="btn btn-lights w3-animate-fading"style=" width: 160px;
                    height: 40px; background:darkgray;
                    position: relative; animation: mymove 4s infinite; font-size: 15px; color:#222 ;font-weight: bold;" href='/psychicbits/vote'><i class="fas fa-heart" style="font-size: 15px; color:#00008B ;"></i>Challenge Us </a><br>
         <a style="color: lightgray; font-size: 20px;"><b> Are You Ready For The challenge?</b>
          <div id="div2" class="fa" style="font-size: 25px; color:lightgray;"></div></a><br>
       <b style="color:lightgray; font-size: 15px;">
          you can guess which team will win the next match with Us & if you win     
              you will take a score and Be ONE of the Top 10 users
       </b>
        </div>
      
      </div>
    {% endif %}
         <!--============================================================= -->
     
<!--*************************************************************************** -->
<!--***************************************************************************** -->
 
<!--*************************************************************************** -->
<!--***************************************************************************** -->

  
      <div class="row">
      <div class="container-fluid ">
        <div class="col-lg-6 col-lg-push-0 col-sm-8"style="color:lightgray;hyphens:hsl(0, 100%, 50%); font-size:30px;font-weight:bold; ">
          <p><h1>Psychic Bits's a website</h1><b> that show Premier League schedule & results  for previous matches & predict Relatively next matchs results</b> </p>
        </div>
        
      </div>
   {% if user.is_authenticated %}
    
      <div class="container"><!-- start of text-->
      <div class="col-lg-6 col-sm-9 col-sm-push-0 hidden-xs" style="padding-top: 80px; ">
          <a href="/psychicbits/vote" class="btn btn-lights w3-animate-fading"style=" width: 200px;
                        height: 40px; background: darkgray;
                        position: relative; animation: mymove 5s infinite; font-size: 25px; color:#222 ;font-weight: bold;"><i class="fas fa-heart" style="font-size: 25px;color:#00008B ;"></i>Challenge Us </a><br>
             <a style="color: black; font-size: 40px;" ><b> Are You Ready For The challenge?</b>
            <div id="div2" class="fa" style="font-size: 70px; color:color :rgb(26, 0, 0) ;;" ></div></a><br>
           <b style="color: black; font-size:30px;">
              you can guess which team will win the next match with Us & if you win     
                  you will take a score and Be ONE of the Top 10 users
           </b>
          </div></div>
    </div>
      
  {% else %}        
  {% endif %}
       
  <div class="navbar navbar-inverse navbar-fixed-bottom" style="height: 15px;"> <!-- start of footer-->
    <div class="container-fluid"> 
      <div class="row" style="width: 100%;">
          <div class="navbar-text col-lg-4 col-sm-5  col-xs-6 ">
            <p> copyright psychicbits 2020</p>
          </div>
          <div class="col-lg-6 col-lg-push-2 col-xs-6 " >
            <div class="navbar-text pull-right">
              <a href="#"><i class="fab fa-facebook-square" style="color: white;font-size: 28px; "></i> </a>
              <a href="#"><i class="fab fa-twitter-square" style="color: white;font-size: 28px;"></i></a>
              <a href="#"><i class="fab fa-google-plus-square" style="color: white;font-size:28px;"></i></a>
              <a href="#"><i class="fab fa-instagram-square" style="color: white;font-size: 28px;"></i></a>
            </div>
          </div>
      
      </div>
    </div>
  </div> <!-- end of footer-->
  
            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
<script src="{% static 'psychicbits/js/bootstrap.min.js' %}"></script>
<script src="{% static 'psychicbits/js/all.js' %}"></script>
<script>
function hourglass() {
  var a ,b ,c;
  a = document.getElementById("div2");
  
  a.innerHTML = "&#xf251;";
  setTimeout(function () {
      a.innerHTML = "&#xf252;";
    }, 1000);
  setTimeout(function () {
      a.innerHTML = "&#xf253;";
    }, 2000);
  
}
hourglass();
setInterval(hourglass, 3000);
</script>
  <script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>

</html>
